<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dreamcapsule.project.apps.admin.mapper.AdminMapper">
        <select id="findByUserId" resultType="AdminVO" parameterType="AdminVO">
            select u.admin_pwd as adminPwd,
                    u.admin_nm as adminNm,
                    r.auth_nm as authNm
                    from web_admin u
                    inner  join web_author_mapp ur
                    on u.admin_seq = ur.admin_seq
                    inner join web_author_grp r
                    on r.auth_seq = ur.auth_seq
                where u.admin_Id = #{adminId}

        </select>

        <insert id="userSave" parameterType="AdminVO">
            insert into web_admin(admin_seq,admin_id,admin_pwd,admin_nm,duty_nm,rank_nm,tel,email,last_login_dt,use_yn,reg_Dt)
            values
            (
            admin_seq.nextval,
            #{adminId},
            #{adminPwd},
            #{adminNm},
            '대표이사',
            '대표이사',
            '010-0000-0000',
            'abcd@admin.com',
            to_date(sysdate,'yyyy/mm/dd'),
            'Y',
            to_date(sysdate,'yyyy/mm/dd')
            )

        </insert>
        <insert id="userRoleSave" parameterType="AdminVO">
            insert into web_author_mapp (admin_seq,auth_Seq,reg_Dt) values(#{adminSeq},#{authSeq},to_Date(sysdate,'yyyy/mm/dd'))
        </insert>
    
        <select id="findUserNo" resultType="Integer" parameterType="AdminVO">
            select admin_seq from web_admin where admin_nm = #{adminNm}
        </select>

        <select id="findRoleNo" resultType="Integer" parameterType="AdminVO">
            select auth_seq from web_author_grp where auth_nm = #{authNm}
        </select>


</mapper>