<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dreamcapsule.project.apps.admin.mapper.AdminMapper">
        <select id="findByUserId" resultType="AdminVO" parameterType="AdminVO">
            select
                u.user_pass as userPass,
                u.user_name as userName,
                r.role_name as roleName
                from user_tb  u
                    inner join user_role  ur
                    on u.user_no = ur.user_no
                    inner join role_tb  r
                    on r.role_no = ur.role_no
                where
                    u.user_Id=#{userId}

        </select>

        <insert id="userSave" parameterType="AdminVO">
            insert into user_tb (user_no,user_id,user_pass,user_name,email,tel)
                values(user_seq.nextval,#{userId},#{userPass},#{userName},'-','-')
        </insert>
        <insert id="userRoleSave" parameterType="AdminVO">
            insert into user_role (user_no,role_no) values(#{userNo},#{roleNo})
        </insert>
    
        <select id="findUserNo" resultType="Integer" parameterType="AdminVO">
            select user_no from user_tb where user_id = #{userId}
        </select>

        <select id="findRoleNo" resultType="Integer" parameterType="AdminVO">
            select role_no from role_tb where role_name = #{roleName}
        </select>


</mapper>