<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dreamcapsule.project.apps.daily.mapper.DailyMapper">


    <!--    모두 검색  -->
    <select id="findAll" resultType="DailyDomain">
    select EMPL_NM ,DUTY_ID ,RANK_ID ,comm_ti ,WORK_ST ,WORK_TI ,REST_TI ,WORK_PL ,WORK_AD ,TOTAL_TI ,
    TARDY_CT ,ABTI_CT ,to_char(REG_DT ,'yyyymmdd')
    from comm_tb 
    </select>

    <sql id="searchCondition">

                <if test="keyword != null and regDt == null">
                where seq>0 and empl_nm like  '%' || #{keyword} || '%'
                </if>
                <if test="keyword == null and regDt != null">
                where to_date(reg_dt,'yy/mm/dd') = to_date(#{regDt},'yy/mm/dd')
                </if>
                <if test="keyword != null and regDt !=null">
                    where to_date(reg_dt,'yy/mm/dd') = to_date(#{regDt},'yy/mm/dd') and seq>0 and empl_nm like  '%' || #{keyword} || '%'
                </if>
    </sql>
    <sql id="keywordserch">
        <if test="keyword != null">
            where seq>0 and empl_nm like  '%' || #{keyword} || '%'
        </if>
    </sql>

    <select id="listPage" resultType="DailyDomain" parameterType="Criteria">
    select  
    EMPL_NM , DUTY_ID ,  RANK_ID , comm_ti,  WORK_ST ,WORK_TI ,  REST_TI ,   WORK_PL ,
    to_char(reg_Dt,'yyyy/mm/dd') as reg_dt
    from (
    select 
    EMPL_NM ,  DUTY_ID ,  RANK_ID , comm_ti ,  WORK_ST ,WORK_TI , REST_TI ,  WORK_PL  ,reg_Dt ,
        row_number() over(order by reg_dt desc) as rnum
    from comm_tb
    <include refid="searchCondition"></include>)comm
    where rnum between ${rowStart} and ${rowEnd}
    order by reg_dt desc
    </select>

    
    <select id="listCount" resultType="int">
    select count(*) from comm_tb <include refid="searchCondition"></include>
	</select>
    
    <select id="searchName" resultType="DailyDomain" parameterType="Criteria">
        select * from comm_tb

    </select>


</mapper>