<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dreamcapsule.project.apps.daily.mapper.DailyMapper">

  <!--  <select id="findAll"  resultType="DailyDomain">
        SELECT * FROM COMM_TB
    </select>-->

<!--    <select id="findname" parameterType="String" resultType="DailyDomain">-->
<!--        SELECT * FROM COMM_TB WHERE EMPL_NM = #{empl_nm}-->
<!--    </select>-->

</mapper>