<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dreamcapsule.project.apps.holiday.mapper.HolidayMapper">

    <select id="findAll" resultType="HolidayVO">
        SELECT EMPL.EMP_SEQ SEQ,EMPL.EMP_NM NAME,DUTY.DUTY_NM TASK,RANK.RANK_NM JOB_GRADE,ANN_DAYS RESTHOLIDAY
        FROM WEB_EMPL_MGM EMPL,WEB_DUTY_MGM DUTY,WEB_RANK_MGM RANK,WEB_ANNU_MGM ANNU
        WHERE EMPL.DUTY_SEQ = DUTY.DUTY_SEQ AND EMPL.RANK_SEQ = RANK.RANK_SEQ AND EMPL.EMP_SEQ = ANNU.EMP_SEQ AND YEAR = #{YEAR} ORDER BY ${VALUE} ${TYPE}
    </select>

    <select id="findByInfoValue" resultType="HolidayVO">
        SELECT EMPL.EMP_SEQ SEQ, EMPL.EMP_NM NAME,DUTY.DUTY_NM TASK,RANK.RANK_NM JOB_GRADE, ANNU.ANN_DAYS RESTHOLIDAY
        FROM WEB_EMPL_MGM EMPL,WEB_DUTY_MGM DUTY,WEB_RANK_MGM RANK,WEB_ANNU_MGM ANNU
        WHERE EMPL.DUTY_SEQ = DUTY.DUTY_SEQ AND EMPL.RANK_SEQ = RANK.RANK_SEQ AND ANNU.EMP_SEQ = EMPL.EMP_SEQ AND EMPL.EMP_SEQ = #{SEQ} AND ANNU.YEAR = #{YEAR}
    </select>

    <select id="findByValue" resultType="HolidayVO">
        SELECT VACATION_SEQ AS SEQ,
            EMP_SEQ AS USER_NUM,
            HOLIDAY_YEAR,
            HOLIDAY_MONTH,
            HOLIDAY_TYPE,
            HOLIDAY_DATE,
            NOTE,
            TO_CHAR(APPLICATION_TIME,'YYYY.MM.DD (dy) HH24:MI') AS APPLICATION_TIME,
            STATE_YSN,
            USE_HOLIDAY,
            REPLY FROM WEB_VACATION WHERE EMP_SEQ = #{SEQ} AND HOLIDAY_YEAR = #{YEAR} AND HOLIDAY_MONTH = #{MONTH}
    </select>

    <select id="findTask" resultType="HolidayVO">
        SELECT DISTINCT DUTY_NM TASK FROM WEB_DUTY_MGM
    </select>

    <select id="findYear" resultType="HolidayVO">
        SELECT DISTINCT HOLIDAY_YEAR FROM WEB_VACATION ORDER BY HOLIDAY_YEAR DESC
    </select>

    <select id="findUse" resultType="HolidayVO">
        SELECT SUM(USE_HOLIDAY) AS USE_HOLIDAY FROM WEB_VACATION WHERE EMP_SEQ = #{NUM} AND HOLIDAY_MONTH = #{MONTH} AND HOLIDAY_YEAR = #{YEAR}
    </select>

    <select id="findUseYear" resultType="Long">
        SELECT SUM(USE_HOLIDAY) AS USE_HOLIDAY FROM WEB_VACATION WHERE EMP_SEQ = #{SEQ} AND HOLIDAY_YEAR = #{YEAR} AND STATE_YSN = 'Y'
    </select>

    <select id="findTaskMember" resultType="HolidayVO">
        SELECT EMPL.EMP_SEQ SEQ,EMPL.EMP_NM NAME,DUTY.DUTY_NM TASK,RANK.RANK_NM JOB_GRADE,ANN_DAYS RESTHOLIDAY
        FROM WEB_EMPL_MGM EMPL,WEB_DUTY_MGM DUTY,WEB_RANK_MGM RANK,WEB_ANNU_MGM ANNU
        WHERE EMPL.DUTY_SEQ = DUTY.DUTY_SEQ AND EMPL.RANK_SEQ = RANK.RANK_SEQ AND EMPL.EMP_SEQ = ANNU.EMP_SEQ and duty.duty_nm = #{TASK} and year = #{YEAR}
    </select>

    <select id="findUseState" resultType="holidayVO">
        SELECT DENSE_RANK() OVER (ORDER BY <include refid="sort"></include>) SEQ,VAC.HOLIDAY_MONTH HOLIDAY_MONTH FROM WEB_VACATION VAC
        INNER JOIN WEB_EMPL_MGM EMP ON VAC.EMP_SEQ = EMP.EMP_SEQ
        INNER JOIN WEB_DUTY_MGM DUTY ON EMP.DUTY_SEQ = DUTY.DUTY_SEQ
        INNER JOIN WEB_RANK_MGM RANK ON EMP.RANK_SEQ = RANK.RANK_SEQ
        WHERE VAC.STATE_YSN = 'S' AND HOLIDAY_YEAR = #{YEAR} ORDER BY <include refid="sort"></include>,VAC.HOLIDAY_MONTH ASC
    </select>

    <update id="detailsUpdate">
        UPDATE WEB_VACATION SET STATE_YSN=#{STATE}, REPLY = #{REPLY}, MOD_DT = SYSDATE WHERE VACATION_SEQ = #{SEQ}
    </update>

    <insert id="holidayInsert">
        INSERT INTO
        WEB_VACATION(VACATION_SEQ,EMP_SEQ,HOLIDAY_TYPE,HOLIDAY_YEAR,HOLIDAY_MONTH,HOLIDAY_DATE,NOTE,USE_HOLIDAY,STATE_YSN)
         VALUES(VACATION_SEQ.NEXTVAL,#{USER_NUM},#{HOLIDAY_TYPE},#{HOLIDAY_YEAR},#{HOLIDAY_MONTH},#{HOLIDAY_DATE},#{NOTE},#{USE_HOLIDAY},'Y')
    </insert>

    <sql id="sort">
        <choose>
            <when test= "VALUE == 'SEQ'">
                VAC.EMP_SEQ ${TYPE}
            </when>
            <when test="VALUE == 'NAME'">
                EMP.EMP_NM ${TYPE}
            </when>
            <when test="VALUE == 'TASK'">
                DUTY.DUTY_NM ${TYPE}
            </when>
            <when test="VALUE == 'JOB_GRADE'">
                RANK.RANK_NM ${TYPE}
            </when>
        </choose>
    </sql>
</mapper>