<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dreamcapsule.project.apps.outsidejob.mapper.OutsidejobMapper">

    <select id="findAllPage" resultType="OutsidejobVO">
    SELECT
        OUTSIDE_SEQ SEQ,NAME,TASK,JOB_GRADE,OUTSIDE_DATE,START_TIME,END_TIME,START_PLACE,END_PLACE,STATE_YSN, APPLICATION_TIME,NOTE,REPLY,REG_DT,MOD_DT,MONTH,DAY
    from(SELECT
            OSJ.OUTSIDE_SEQ, EMPL.EMP_NM NAME,DUTY.DUTY_NM TASK, RANK.RANK_NM JOB_GRADE, OSJ.OUTSIDE_DATE, OSJ.START_TIME, OSJ.END_TIME, OSJ.START_PLACE, OSJ.END_PLACE, OSJ.STATE_YSN, OSJ.APPLICATION_TIME, OSJ.NOTE, OSJ.REPLY, OSJ.REG_DT, OSJ.MOD_DT, OSJ.MONTH, OSJ.DAY,
            row_number() over(order by ${sortKeyword} ${sort}) as rNum
        FROM
            WEB_OUTSIDE OSJ, WEB_EMPL_MGM EMPL, WEB_RANK_MGM RANK, WEB_DUTY_MGM DUTY
        WHERE
            OSJ.EMP_SEQ = EMPL.EMP_SEQ AND EMPL.RANK_SEQ = RANK.RANK_SEQ AND EMPL.DUTY_SEQ = DUTY.DUTY_SEQ AND <include refid="search"></include>
    )WHERE rNum BETWEEN #{rowStart} AND #{rowEnd}
    </select>

    <select id="findAll" resultType="OutsidejobVO">
        select * from WEB_OUTSIDE
    </select>

    <select id="findInfo" resultType="OutsidejobVO">
        SELECT EMPL.EMP_SEQ SEQ,EMPL.EMP_NM NAME,DUTY.DUTY_NM TASK,RANK.RANK_NM JOB_GRADE
        FROM WEB_EMPL_MGM EMPL,WEB_DUTY_MGM DUTY,WEB_RANK_MGM RANK
        WHERE EMPL.DUTY_SEQ = DUTY.DUTY_SEQ AND EMPL.RANK_SEQ = RANK.RANK_SEQ
    </select>

    <select id="listCount" resultType="int">
        <![CDATA[SELECT COUNT(OUTSIDE_SEQ) FROM WEB_OUTSIDE WHERE OUTSIDE_SEQ > 0]]>
    </select>

    <select id="countSearch" resultType="int">
        SELECT COUNT(OUTSIDE_SEQ) FROM WEB_OUTSIDE OSJ WHERE <include refid="search"></include> AND OUTSIDE_SEQ > 0
    </select>

    <select id="findListSeq" resultType="OutsidejobVO">
        SELECT OUTSIDE_SEQ SEQ,
            EMP_SEQ USER_NUM,
            OUTSIDE_DATE,
            START_TIME,
            END_TIME,
            START_PLACE,
            END_PLACE,
            STATE_YSN,
            TO_CHAR(APPLICATION_TIME,'YYYY.MM.DD (dy) HH24:MI') AS APPLICATION_TIME,
            NOTE,
            REG_DT,
            REPLY FROM WEB_OUTSIDE WHERE OUTSIDE_SEQ = ${SEQ}
    </select>

    <select id="findInfoSeq" resultType="OutsidejobVO">
        SELECT EMP_SEQ SEQ, EMP_NM NAME, DUTY.DUTY_NM TASK, RANK.RANK_NM JOB_GRADE
        FROM WEB_EMPL_MGM EMPL, WEB_DUTY_MGM DUTY, WEB_RANK_MGM RANK
        WHERE EMPL.DUTY_SEQ = DUTY.DUTY_SEQ AND EMPL.RANK_SEQ = RANK.RANK_SEQ AND EMP_SEQ = ${USER_NUM}
    </select>

    <update id="detailsUpdate">
        UPDATE WEB_OUTSIDE SET STATE_YSN=#{STATE}, REPLY = #{REPLY}, MOD_DT = SYSDATE WHERE OUTSIDE_SEQ = #{SEQ}
    </update>

    <sql id="search">
         OSJ.EMP_SEQ in (SELECT DISTINCT EMP_SEQ from WEB_EMPL_MGM where EMP_NM LIKE '%' || #{keyword} || '%')
        <foreach collection="searchMonth" item="date" open="AND" index="index" close="1=0)">
            <choose>
                <when test= "date > 31">
                    <choose>
                        <when test="index > 1">
                            1=0 ) OR (OSJ.YEAR = ${date} AND
                        </when>
                        <otherwise>
                            (OSJ.YEAR = ${date} AND
                        </otherwise>
                    </choose>
                </when>
                <otherwise>
                    OSJ.MONTH LIKE '%' || ${date} || '%' OR
                </otherwise>
            </choose>
        </foreach>
    </sql>
</mapper>