<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dreamcapsule.project.apps.overtime.mapper.OvertimeMapper">
    <!--
    <select id="listPage" resultType="com.dreamcapsule.project.domain.OvertimeVO"
                parameterType="com.dreamcapsule.project.apps.overtime.domain.Criteria">
      select sequence, registerDate, modifyDate, empName, empJob, empPosition, overtimeDate, overtimeTime, eatBoolean, status, contents, requestDate, answer
    from (
     select sequence, registerDate, modifyDate, empName, empJob, empPosition, overtimeDate, overtimeTime, eatBoolean, status, contents, requestDate, answer ,row_number() over(order by sequence asc) as rNum from OT_MNG_TB) mb
     where rNum between #{rowStart} and #{rowEnd} order by sequence asc
     </select>
     -->
    <!--
    <select id="listCount" resultType="int">
    select count(*) as totalCount from OT_MNG_TB where sequence > 0
    </select>
    -->
    <!--
    <select id="search" parameterType="com.dreamcapsule.project.apps.overtime.domain.SearchCriteria"
                resultType="com.dreamcapsule.project.domain.OvertimeVO">

           select sequence, registerDate, modifyDate, empName, empJob, empPosition,
           overtimeDate, overtimeTime, eatBoolean, status, contents, requestDate, answer
    from (
     select sequence, registerDate, modifyDate, empName, empJob,
     empPosition, overtimeDate, overtimeTime, eatBoolean, status, contents,
      requestDate, answer ,row_number() over(order by sequence asc) as rNum
      from OT_MNG_TB where empName like '%' || #{keyword} || '%' and (requestDate between to_date(#{startDate}) and to_date(#{endDate})))
     where rNum between #{rowStart} and #{rowEnd} order by sequence asc
        </select>
     -->

     <select id="overtimeList" resultType="com.dreamcapsule.project.domain.OvertimeVO">
            SELECT * FROM OT_MNG_TB order by sequence
        </select>

    <select id="findInfo" parameterType="int" resultType="com.dreamcapsule.project.domain.OvertimeVO">
        SELECT sequence,registerdate,modifydate,empname,empjob,empposition,overtimedate,overtimetime,eatboolean,
    status,contents,to_char(requestdate, 'yyyy.MM.dd (DY) hh:mm') as requestdate,answer from OT_MNG_TB where sequence = ${sequence}
    </select>

    <select id="updateEmpInfo" parameterType="com.dreamcapsule.project.domain.OvertimeVO">
        UPDATE OT_MNG_TB
        set
        modifyDate=SYSDATE ,
         answer=#{answer},
         status=#{status} where sequence = #{sequence}
    </select>

    <select id="countSearch" resultType="int">
            select count(sequence) from OT_MNG_TB where empName like '%' || #{keyword} || '%' and
            (requestDate between to_date(#{startDate}) and to_date(#{endDate}))
    </select>

    <select id="search" parameterType="com.dreamcapsule.project.apps.overtime.domain.SearchCriteria"
            resultType="com.dreamcapsule.project.domain.OvertimeVO">

   SELECT sequence,registerdate,modifydate,empname,empjob,empposition,overtimedate,overtimetime,eatboolean,
    status,contents,to_char(requestdate, 'yyyy.MM.dd (DY) hh:mm') as requestdate,answer
FROM (SELECT
    sequence, registerdate,modifydate,empname,empjob,empposition,overtimedate,overtimetime,eatboolean,
    status,contents,requestdate,answer, row_number() over
(ORDER BY ${orderKeyword} ${order}) as rnum
FROM
    ot_mng_tb
WHERE
    empname LIKE '%' || #{keyword} || '%'
    AND (requestdate BETWEEN to_date(#{startDate}) AND to_date(#{endDate})))
WHERE
    rnum BETWEEN #{rowStart} AND #{rowEnd} order by ${orderKeyword} ${order}
    </select>
</mapper>