<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dreamcapsule.project.apps.overtime.mapper.OvertimeMapper">

    <select id="listPage" resultType="com.dreamcapsule.project.apps.overtime.domain.OvertimeVO"
            parameterType="com.dreamcapsule.project.apps.overtime.domain.Criteria">
  select sequence, registerDate, modifyDate, empName, empJob, empPosition, overtimeDate, overtimeTime, eatBoolean, status, contents, requestDate, answer
from (
 select sequence, registerDate, modifyDate, empName, empJob, empPosition, overtimeDate, overtimeTime, eatBoolean, status, contents, requestDate, answer ,row_number() over(order by sequence asc) as rNum from OT_MNG_TB) mb
 where rNum between #{rowStart} and #{rowEnd} order by sequence asc
 </select>

    <select id="boardList" resultType="com.dreamcapsule.project.apps.overtime.domain.OvertimeDomain">
        select * from board
    </select>

    <select id="findBno" parameterType="com.dreamcapsule.project.apps.overtime.domain.OvertimeDomain"
            resultType="com.dreamcapsule.project.apps.overtime.domain.OvertimeDomain">
        SELECT bno, contents, userName FROM BOARD where BNO = #{bno}
    </select>

    <select id="updateInfo" parameterType="com.dreamcapsule.project.apps.overtime.domain.OvertimeDomain"
            resultType="com.dreamcapsule.project.apps.overtime.domain.OvertimeDomain">
        UPDATE board set userName=#{userName}, contents=#{contents} where bno = #{bno}
    </select>

    <select id="empList" resultType="com.dreamcapsule.project.apps.overtime.domain.OvertimeVO">
        SELECT * FROM OT_MNG_TB
    </select>

    <select id="findInfo" parameterType="int" resultType="com.dreamcapsule.project.apps.overtime.domain.OvertimeVO">
        SELECT * from OT_MNG_TB where sequence = ${sequence}
    </select>

    <select id="updateEmpInfo" parameterType="com.dreamcapsule.project.apps.overtime.domain.OvertimeVO">
        UPDATE OT_MNG_TB set modifyDate= substr(#{modifyDate}, 1,10) , answer=#{answer},status = #{status} where sequence = #{sequence}
    </select>

    <select id="listCount" resultType="int">
        select count(*) as totalCount from OT_MNG_TB where sequence > 0
    </select>


</mapper>