<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dreamcapsule.project.apps.management.position.mapper.PositionMapper">

    <!--<select id="findAll" resultType="PositionVO">
        SELECT
            SEQ,
            RANK,
            MEMO,
            TO_CHAR(REG_DATE,'yyyy-MM-dd HH24:MI:SS') REG_DATE,
            DEL_YN
        FROM POSITION_MNG_TB
    </select>-->

    <sql id="cmmnWhere">
        AND SORT_NUM BETWEEN #{rowStart} AND #{rowEnd}
    </sql>
    
    <sql id="cmmnOrder">
        ORDER BY SEQ DESC
    </sql>  
    <!--
        상세 정보
    -->
    <select id="findByDetail" resultType="PositionVO" parameterType="PositionVO">
        SELECT
            SEQ,
            RANK,
            MEMO,
            TO_CHAR(REG_DATE,'yyyy-MM-dd HH24:MI:SS') REG_DATE,
            TO_CHAR(MOD_DATE,'yyyy-MM-dd HH24:MI:SS') MOD_DATE,
            DEL_YN
        FROM POSITION_MNG_TB
        WHERE SEQ = #{seq}
        AND DEL_YN = 'N'
    </select>

    <!-- 저장  -->
    <insert id="insert" parameterType="PositionVO">
        INSERT INTO POSITION_MNG_TB(SEQ, RANK, MEMO, REG_DATE, DEL_YN)
        VALUES(POSITION_MNG_SEQ.NEXTVAL, #{rank}, #{memo}, SYSDATE, 'N')
    </insert>

    <!-- 수정 -->
    <update id="update" parameterType="PositionVO">
        UPDATE
            POSITION_MNG_TB
        SET
            RANK = #{rank},
            MEMO = #{memo},
            MOD_DATE = SYSDATE
        WHERE
            SEQ = #{seq}
    </update>

    <!-- 삭제 DEL_YN > Y -->
    <update id="delUpdate" parameterType="PositionVO">
        UPDATE
            POSITION_MNG_TB
        SET
            DEL_YN = 'Y'
        WHERE
            SEQ = #{seq}
    </update>

    <!-- 삭제 -->
    <delete id="delete" parameterType="PositionVO">
        DELETE FROM POSITION_MNB_TB
        WHERE SEQ = #{seq}
    </delete>

    <!-- 페이징 -->
    <select id="page" resultType="PositionVO" parameterType="PositionVO">
        SELECT
            SEQ,
            RANK,
            MEMO,
            TO_CHAR(REG_DATE,'yyyy-MM-dd HH24:MI:SS') REG_DATE,
            TO_CHAR(MOD_DATE,'yyyy-MM-dd HH24:MI:SS') MOD_DATE,
            DEL_YN
        FROM (
            SELECT
                SEQ,
                RANK,
                MEMO,
                REG_DATE,
                MOD_DATE,
                DEL_YN,
                ROW_NUMBER() OVER(ORDER BY SEQ DESC) AS SORT_NUM
            FROM POSITION_MNG_TB
            WHERE DEL_YN = 'N'
        ) POSITION_MNG
        WHERE SORT_NUM BETWEEN #{rowStart} AND #{rowEnd}
        ORDER BY SEQ DESC
        <!--<include refid="cmmnWhere"/>
        <include refid="cmmnOrder"/>-->
    </select>

    <!-- 페이징 리스트 -->
    <select id="listCnt" resultType="int">
        SELECT
            COUNT(SEQ)
        FROM POSITION_MNG_TB
        WHERE SEQ > 0 AND DEL_YN = 'N'
    </select>

</mapper>