<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dreamcapsule.project.apps.weekly.mapper.WeeklyMapper">

    <select id="nameSelect" resultType="WeeklyVO" parameterType="Criteria">
        select empl_nm,duty_id,rank_id,comm_ti,work_st,total_ti,work_pl
        from (select empl_nm ,duty_id,rank_id,comm_ti,work_st,row_number() over(order by empl_nm asc )
        rnum,total_ti,work_pl
        from(select empl_nm,duty_id,rank_id,listagg(comm_ti,',')WITHIN group(ORDER by reg_dt) as comm_ti,
        listagg(work_st,',')WITHIN group(ORDER by reg_dt) as work_st ,sum(work_ti) as total_ti,work_pl
        from comm_tb <include refid="searchCondition"></include> group by empl_nm,duty_id,rank_id,work_pl)

        )where rnum between ${rowStart} and ${rowEnd}
        order by empl_nm desc


    </select>

    <select id="listCount" resultType="int">
        select count(DISTINCT empl_nm) from comm_tb
        <include refid="searchCondition"></include>
    </select>


    <sql id="searchCondition">

        <if test="keyword == null and startDate != null">
            where to_date(reg_dt,'yy/mm/dd') between to_date(#{startDate},'yy/mm/dd') and
            to_date(#{startDate},'yy/mm/dd')
        </if>
        <if test="keyword == null and startDate == null">
            where reg_dt between trunc(sysdate,'iw') and trunc(sysdate,'iw')+7
        </if>
        <if test="keyword != null and startDate == null">
            where reg_dt between trunc(sysdate,'iw') and trunc(sysdate,'iw')+7 and empl_nm like '%' || #{keyword} || '%'
        </if>
    </sql>


</mapper>