<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dreamcapsule.project.apps.weekly.mapper.WeeklyMapper">

    <select id="nameSelect" resultType="WeeklyVO" parameterType="Criteria">


        SELECT
            EMPL_NM,
            DUTY_NM,
            RANK_NM,
            WEEKDATE,
            COMM_TI,
            WORK_ST,
            TOTAL_TI,
            WORK_PL
        FROM
            (SELECT EMPL_NM,DUTY_NM,RANK_NM,WEEKDATE,COMM_TI,WORK_ST,ROW_NUMBER() OVER(ORDER BY   ${worderKeyword} ${orderMethod}) RNUM,TOTAL_TI,WORK_PL
        FROM
            (SELECT
                EMP.EMP_NM AS EMPL_NM,
                DUTY.DUTY_NM AS DUTY_NM,
                RANK.RANK_NM AS RANK_NM,
                LISTAGG(TO_CHAR(DAILY.REG_DT,'DY'),',')WITHIN GROUP(ORDER BY DAILY.REG_DT)AS WEEKDATE,
                LISTAGG(DAILY.ONW_TI || '~' || DAILY.OFFW_TI,',')WITHIN GROUP(ORDER BY DAILY.REG_DT) AS COMM_TI,
                LISTAGG(DAILY.WORK_ST,',')WITHIN GROUP(ORDER BY DAILY.REG_DT) AS WORK_ST,
                SUM(ROUND(((TO_DATE(DAILY.OFFW_TI,'HH24:MI')-TO_DATE(DAILY.ONW_TI,'HH24:MI'))*24))-DAILY.REST_TI) AS TOTAL_TI,
                PLACE.PLACE_NM AS WORK_PL
        FROM
                WEB_DAILY DAILY
                INNER JOIN WEB_EMPL_MGM EMP
                ON DAILY.EMP_SEQ = EMP.EMP_SEQ
                INNER JOIN WEB_DUTY_MGM DUTY
                ON EMP.DUTY_SEQ = DUTY.DUTY_SEQ
                INNER JOIN WEB_PLACE_MGM PLACE
                ON EMP.PLACE_SEQ = PLACE.PLACE_SEQ
                INNER JOIN WEB_RANK_MGM RANK
                ON EMP.RANK_SEQ = RANK.RANK_SEQ
                <include refid="searchCondition"></include>
                GROUP BY EMP.EMP_NM,DUTY.DUTY_NM,RANK.RANK_NM,PLACE.PLACE_NM
                ))WHERE RNUM between ${rowStart} and ${rowEnd}
                ORDER BY   ${worderKeyword} ${orderMethod}



    </select>

    <select id="listCount" resultType="int">
        select count(DISTINCT EMP.EMP_NM) from WEB_DAILY DAILY INNER JOIN WEB_EMPL_MGM EMP ON DAILY.EMP_SEQ=EMP.EMP_SEQ
        <include refid="searchCondition"></include>
    </select>


    <sql id="searchCondition">

        <if test="keyword == null and startDate != null">
            where to_date(DAILY.REG_DT,'yy/mm/dd') between to_date(#{startDate},'yy/mm/dd') and
            to_date(#{endDate},'yy/mm/dd')
        </if>
<!--        <if test="keyword == null and startDate == null">-->
<!--            where reg_dt between trunc(sysdate,'iw') and trunc(sysdate,'iw')+7-->
<!--        </if>-->
        <if test="keyword != null and startDate != null">
            where to_date(DAILY.REG_DT,'yy/mm/dd') between to_date(#{startDate},'yy/mm/dd') and
            to_date(#{endDate},'yy/mm/dd') and EMP.EMP_NM like '%' || #{keyword} || '%'
        </if>
    </sql>

        <select id="weeklyXlsDown" parameterType="Criteria" resultType="WeeklyVO">
            select empl_nm,duty_id,rank_id,weekdate,comm_ti,work_st,total_ti,work_pl
            from (
            select empl_nm ,duty_id,rank_id,weekdate,comm_ti,work_st,
            row_number() over(order by empl_nm asc )
            rnum,total_ti,work_pl
            from(
            select empl_nm,duty_id,rank_id,
            listagg(to_char(reg_dt,'dy'),',')within group(ORDER by reg_dt)as weekdate,
            listagg(ONW_TI ||'~'||OFFW_TI ,',')WITHIN group(ORDER by reg_dt) as comm_ti,
            listagg(work_st,',')WITHIN group(ORDER by reg_dt) as work_st ,
            sum(ROUND(((TO_DATE(OFFW_TI,'HH24:MI')-TO_DATE(ONW_TI,'HH24:MI'))*24))-REST_TI) as total_ti,work_pl
            from comm_tb    where to_date(reg_dt,'yy/mm/dd') between to_date(#{startDate},'yy/mm/dd') and
            to_date(#{endDate},'yy/mm/dd') group by empl_nm,duty_id,rank_id,work_pl)
            )
        </select>
</mapper>